.calculator{
    width: 300px;   
    background-color: #b2ecad; 
    margin: 50px auto 10px auto;
    padding: 7px;
    border-radius: 5px;
    display: block;
    
    }
    h1{
        text-align: center;
    }
    
    #layar{
        width: 100%;
        box-sizing: border-box;
        border: 1px solid #fd9ff1;
        font-size: 50px;
        font-weight: bold;
        color: rgb(233, 174, 245);
        padding: 7px 5px;
        text-align: right;
        outline: none;
    }
    
    .container-tombol{
        display: flex;
        flex-wrap: wrap;
    }
    
    .tombol{
        display: flex;
        width: 25%;
        font-size: 20px;
        color: rgb(24, 23, 23);
        font-weight: bold;
        height: 70px;
        border: 1px solid #c3abfc;
        box-sizing: border-box;
        justify-content: center;
        align-items: center;
    }
    
    .tombol:nth-child(4n+1) {
        border-left: 1px solid #d4a1df;
    }
    
    .tombol:hover{
        background-color: #9492f1;
        cursor: pointer;
    }
    #nol{
        flex-grow: 2;
    }
    #operator{
        background-color: #d577ec;
    }
    
    #hitung{
        background-color: #d283f1;
        color: white;
    }
    
    #hitung:hover{
        background-color: #f8befd;
        cursor: pointer;
    }
    
    footer {
        padding: 5px;
      }
      footer li {
        list-style: none;
      }
      footer a {
        color:black;
      }
      
    /*HP*/
    @media (max-width: 576px) { 
        .calculator {
            width: 90%;
            height: 90%;
        }
    }

